{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="wrapper">
        <div class="card">
                <div class="h3 text-center text-white">Login</div>
                <div class="d-flex align-items-center input-field my-3 mb-4"> <span class="far fa-user p-2"></span>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" autocomplete="email" required autofocus>
                </div>
                <div class="d-flex align-items-center input-field mb-4"> <span class="fas fa-lock p-2"></span>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" autocomplete="current-password" required>
                    <button class="btn" onclick="showPassword(); return false;"> <span class="fas fa-eye-slash"></span> </button>
                </div>
                <div class="my-2"> <input type="submit" value="Se connecter" class="btn btn-primary"> </div>
        </div>
    </div>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

</form>
{% endblock %}

{% block javascripts %}
    <script>
        function showPassword() {
            var password = document.getElementById('inputPassword');
            if (password.type === 'password') {
                password.type = "text";
            }
            else {
                password.type = "password";
            }

            return false;
        }
    </script>
{% endblock %}
